body {
    /* height: 98vh; */
}

input {
    outline: none;
}

input:hover, input:focus {
    border-color: rgb(69, 112, 5);
}

/* Login */
.body-for-login-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.forms-container {
    width: 20%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow:  -22px -22px 44px #bebebe,
                    22px 22px 44px #ffffff;
}

.forms-container form {
    width: 100%;
}

.items {
    display: flex;
    justify-content: center;
    margin: 1%;
    padding-bottom: 1%;
}

.items label {
    margin: 1%;
    padding: 8%;
    font-size: 20px;
}

.items input {
    border-radius: 4em 1em / 1em 4em;
    margin: 1%;
    padding: 4%;
    width: 80%;
    font-size: 18px;
    box-shadow: inset 2px 5px 10px #bebebe;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    color: #000000;
}

.button {
    padding-top: 13%;
}

.items button {
    border-radius: 4em 1em / 1em 4em;
    width: 60%;
    padding: 5%;
    background: #6ac97f;
    box-shadow: -3px -3px 15px #464545dc, 
                5px 5px 15px #ffffff
}

.items button:active {
    background: linear-gradient(315deg, #6ac97f, #f0f0f0);
    box-shadow: 0px 0px 0px #464545dc, 
                0px 0px 0px #ffffff
}

/* errors */
.item input {
    border-color: red;
    
}

.error-message {
    color: red;
    font-size: 18px;
    text-align: center;
    text-shadow: 5px 5px 5px #5e5e5e;
}

.error-input {
    border-color: red;
}


/* navigation */
.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
    padding: 1%;
    border-radius: 19px;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow:  -22px -22px 44px #bebebe,
                    22px 22px 44px #ffffff;
}

.nav-content input {
    border-radius: 4em 1em / 1em 4em;
    outline: none;
    margin: 1%;
    padding: 1%;
    width: 25%;
    font-size: 18px;
    box-shadow: inset 2px 5px 10px #bebebe;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    color: #000000;
}

.nav-content button { 
    border-radius: 4em 1em / 1em 4em;
    width: 12%;
    padding: 1%;
    background: #6ac97f;
    box-shadow: -3px -3px 15px #464545dc, 
                5px 5px 15px #ffffff
}

.nav-content button:active {
    background: linear-gradient(315deg, #6ac97f, #f0f0f0);
    box-shadow: 0px 0px 0px #464545dc, 
                0px 0px 0px #ffffff;
}


/* tabelle stylen */
.content {
    padding: 1%;
    border-radius: 19px;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow:  -22px -22px 44px #bebebe,
                    22px 22px 44px #ffffff;
}

.content-title {
    text-align: center;
}

.row-header {
    border-radius: 4em 1em / 1em 4em;
    border-right: #ffffff;
    background-color: rgba(53, 173, 221, 0.911);
    display: grid;
    width: 100%;
}

.row-container {
    display: grid;
    grid-template-columns: 3% 10% 4% 8.1% 15% 7% 15% 4% 4.5% 15%;
    padding: 1%;
    justify-content: center;
}

.add-btn-container {
    background-color: rgba(53, 173, 221, 0.911);
    border-radius: 4em 1em / 1em 4em;
    margin-left: 1%;
}

.items-row {
    display: grid;
    grid-template-columns: 3% 10% 4% 8.1% 15% 7% 15% 4% 4.5% 15%;
    justify-content: center;
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.product-table td {
    text-align: center;
}

.table-layout {
    position: relative;
    left: 20%;
    right: 20%;
}

.row-container-cat {
    display: grid;
    grid-template-columns: 30% 10% 30% 25%;
    justify-content: center;
    padding: 1%;
}

.i-row-cat {
    grid-template-columns: 30% 10% 30% 25%;
}

tr:nth-child(even) {
    background: linear-gradient(315deg, #cacacad8, #f2f2f2);
}

/* Meldungen */
.message {
    color: rgb(0, 177, 53);
    font-size: 18px;
    text-align: center;
    text-shadow: 5px 5px 5px #5e5e5e;
}


/* buttons */
.add-btn {
    margin: 1%;
    padding: 4%;
    border-radius: 4em 1em / 1em 4em;
    background: rgb(20, 172, 134);
    box-shadow: -3px -3px 15px #464545dc, 
                5px 5px 15px #aaebff;
    width: 108%;
}

.add-btn-in-forms {
    width: 100%;
}

.add-btn:active {
    background: linear-gradient(315deg, rgb(20, 172, 134), #f0f0f0);
    box-shadow: 0px 0px 0px #464545dc, 
                0px 0px 0px #ffffff;
}

.row-btns {
    display: flex;
    
}

.row-btn-edit {
    width: 50%;
}

.row-btn-del {
    margin-left: 2%;
    width: 50%;
}

.row-btn-edit button {
    margin: 1%;
    border-radius: 4em 1em / 1em 4em;
    padding: 6%;
    background: rgb(189, 177, 12);
    box-shadow: -3px -3px 15px #464545dc, 
                5px 5px 15px #ffffff;
    width: 100%;
}

.row-btn-edit button:active {
    background: linear-gradient(315deg, rgb(189, 177, 12), #f0f0f0);
    box-shadow: 0px 0px 0px #464545dc,
                0px 0px 0px #ffffff;
}

.row-btn-del button {
    margin: 1%;
    border-radius: 4em 1em / 1em 4em;
    padding: 6%;
    background: rgb(161, 7, 79);
    box-shadow: -3px -3px 15px #464545dc, 
                5px 5px 15px #ffffff;
    width: 100%;
}

.row-btn-del button:active {
    background: linear-gradient(315deg, rgb(161, 7, 79), #f0f0f0);
    box-shadow: 0px 0px 0px #464545dc, 
                0px 0px 0px #ffffff;
}

.cansel-btn {
    margin: 1%;
    border-radius: 4em 1em / 1em 4em;
    padding: 4%;
    background: rgb(161, 7, 79);
    box-shadow: -3px -3px 15px #464545dc, 
                5px 5px 15px #ffffff;
}

.cansel-btn:active {
    background: linear-gradient(315deg, rgb(161, 7, 79), #f0f0f0);
    box-shadow: 0px 0px 0px #464545dc, 
                0px 0px 0px #ffffff;
}

/* formular container */
.input-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    margin: 1%;
}

.item-containner {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 1%;
}

.item-containner input {
    border-radius: 4em 1em / 1em 4em;
    font-size: 18px;
    box-shadow: inset 2px 5px 10px #bebebe;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    color: #000000;
}

.item-btn {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.add-content {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2%;
}